body {
  background-color: black;
}
.containerr {
  margin-top: 40px;
  display: grid;

  width: 100vh;
  height: 1000px;

  grid-template-areas:
    "a3 a2"
    "a4 a2"
    "a5 a2"
    "a6 a2"
    "a7 a2";

  grid-template-columns: 20rem 20rem;

  grid-template-rows: 8% 8% 8% 8% 8% 100%;

  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  grid-column-end: 1;
  grid-column-start: 1;
  align-self: center;
}

input {
  /* position: absolute; */
  align-self: center;
  grid-column-end: 1;
  grid-column-start: 1;
}

button {
}

span {
  margin-left: 5px;
}

.re {
  grid-area: a2;
  margin-left: 20px;
  margin-top: 30px;
}
